p {
  margin: 0;
}

#todo-list {
  width: 550px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

#title {
  color: royalblue;
  font-size: 80px;
}

.ant-layout-header {
  padding: 0;
  padding-left: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.ant-layout-header #input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 26px;
  padding: 0;
}

.ant-layout-content>.ant-checkbox-wrapper {
  display: inline;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox {
  display: none;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox+span {
  transform: rotate(90deg);
  display: block;
  font-size: 20px;
  color: #e6e6e6;
  position: absolute;
  top: 16px;
  left: 24px;
  padding: 0;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox+span:before {
  content: '❯';
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox-checked+span {
  color: #737373;
}

#input:focus {
  border: none;
  box-shadow: none;
}

.ant-card-body {
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.ant-card-body .ant-checkbox-wrapper {
  margin-right: 20px;
  float: left;
}

.ant-card-body>div {
  float: left;
}

.completed {
  text-decoration: line-through;
  color: #cdcdcd;
}

.ant-card:hover .destroy {
  display: block;
}

.destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  /* margin-bottom: 20px; */
  transition: color 0.2s ease-out;
}

.destroy:hover {
  color: #af5b5e;
}

.destroy:after {
  content: '×';
}