p {
  margin: 0;
}

li {
  list-style: none;
}

#todo-list {
  width: 550px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

#title {
  color: royalblue;
  font-size: 80px;
}

.ant-layout-header {
  padding: 0;
  padding-left: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.ant-layout-header #input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 26px;
  padding: 0;
}

.ant-layout-content>.ant-checkbox-wrapper {
  display: inline;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox {
  display: none;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox+span {
  transform: rotate(90deg);
  display: block;
  font-size: 20px;
  color: #e6e6e6;
  position: absolute;
  top: 16px;
  left: 24px;
  padding: 0;
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox+span:before {
  content: '❯';
}

.ant-layout-content>.ant-checkbox-wrapper .ant-checkbox-checked+span {
  color: #737373;
}

#input:focus {
  border: none;
  box-shadow: none;
}

.ant-card-body {
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.ant-card-body .ant-checkbox-wrapper {
  margin-right: 20px;
  float: left;
}

.ant-card-body>div {
  float: left;
  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: #cdcdcd;
}

.ant-card:hover .destroy {
  display: block;
}

.destroy {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  /* margin-bottom: 20px; */
  transition: color 0.2s ease-out;
}

.destroy:hover {
  color: #af5b5e;
}

.destroy:after {
  content: '×';
}

.edit-ipt {
  position: relative;
  z-index: 1;
}

.ant-layout-footer {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  padding: 24px 0;
  color: #000;
  font-weight: 500;
}

.ant-layout-footer>div {
  flex-grow: 1;
}

.ant-layout-footer>.middle li {
  float: left;
  margin-right: 10px;
  border: 1px solid transparent;
  padding: 0 4px;
}

.ant-layout-footer>.middle li.selected {
  border: 1px solid #ccc;
  padding: 0 4px;
}

.ant-layout-footer>.middle li:last-child {
  0 margin-right: 0;
}

.ant-layout-footer>.middle li:hover {
  border-color: #ccc;
}

.ant-layout-footer>.right {
  min-width: 157px;
}

.ant-layout-footer>.right span, .ant-layout-footer>.middle li {
  cursor: pointer;
}

.ant-layout-footer>.right span:hover {
  text-decoration: underline;
}